{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.9.0"},
    {trails, "2.3.0"},
    {erlydtl, "0.14.0"}
]}.

{plugins, [
    {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{provider_hooks, [
                 {pre, [{compile, {erlydtl, compile}}]}
                 ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [styx_web]}
]}.

{erlydtl_opts, [{doc_root, "templates"}]}.
