[
  {kernel, [{logger_level, debug}]},
  {styx, [
    {openid_userinfo_mapper, #{
      <<"default">> => #{
        <<"preferred_username">> => <<"username">>,
        <<"email">> => <<"email">>,
        <<"given_name">> => [<<"name">>, <<"first">>],
        <<"family_name">> => [<<"name">>, <<"last">>]
      }
    }}
  ]},
  {ory, [
    {kratos_url, <<"http://127.0.0.1:4433">>},
    {kratos_admin_url, <<"http://127.0.0.1:4434">>},
    {hydra_url, <<"http://127.0.0.1:4444">>},
    {hydra_admin_url, <<"http://127.0.0.1:4445">>}
  ]},
  {styx_web, [
    {site_title, <<"My SSO">>},
    {background_image_url, <<"https://images.unsplash.com/photo-1456428746267-a1756408f782?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1908&q=80">>},
    {port, <<"5000">>}
  ]},
  {styx_service, [{watch_assets, []}, {hydra, []}, {kratos, []}]}
].
